/* imported fonts style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.text-center {
    text-align: center;
}

.description-style {
    font-weight: normal;
    font-size: 15px;
    color: #0D1321;
}

/* header styles */
.header {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    align-items: center;

}

.cv-btn {
    height: 30px;
    padding: 2px 20px;
    border: 1px solid #0D1321;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    color: #0D1321;


}

.name {
    font-weight: 800;
    font-size: 25px;
}

.banner {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner-title {
    margin: 20px 300px;
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 800;
}

.banner-description {
    font-weight: normal;
    font-size: 15px;
    color: #0D1321;

    margin: 24px 300px 30px 300px;
    padding: 73px;

}

.contact-btn {
    margin: 30px 600px 45px 600px;
    padding: 20px 38px;
    border-radius: 8px;
    background-color: #0D1321;


}

.contact {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
}

.a-c{
    text-decoration: none;
    color: #FFFFFF;
}

/* bts style */
.My-tasks {
    border: solid transparent;
    background-color: rgb(250, 250, 250);
    border-radius: 16px;
    margin: 80px 150px 90px 150px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bts {
    text-align: center;
    margin: 80px 144px 50px 144px;
}

.bts-title {
    font-weight: 800px;
    font-size: 30px;
    color: #0D1321;

}

.bts-description {
    font-weight: normal;
    font-size: 15px;
    color: #0D1321;
    margin-top: 24px;
}

/* task style */
.task-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    background-color: #FFFFFF;
    margin: 50px 100px;
    border-radius: 15px;
    padding: 50px;
}

.task-title {
    font-weight: bold;
    font-size: 20px;
    color: #0D1321;
    margin-bottom: 16px;

}

.task-description {
    font-weight: normal;
    font-size: 12px;
    color: #0D1321;
    margin-bottom: 32px;

}

.task-btn {
    font-weight: 600;
    font-size: 14px;
    color: #0D1321;
    padding: 12px 20px;
}
.button-spacial{
    font-weight: 600;
    font-size: 14px;
    color: #0D1321;
    padding: 12px 20px;
}

/* inspiration sec-style */
.inspiration {
    text-align: center;
}

.inspiration-title {
    font-weight: 800;
    font-size: 30px;
    color: #0D1321;
}

.inspiration-details {
    font-weight: normal;
    font-size: 15px;
    color: #0D1321;
    margin: 24px 144px 48px 144px;
}

.video {
    margin-top: 50px;

    margin-left: 300px;
    margin-right: 300px;
    border: 30px solid whitesmoke;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

/* target skills section design */
.target-skills {
    margin-top: 100px;
}

.skills-title {
    margin-bottom: 24px;
}

.skills-description {
    margin-right: 400px;
    margin-left: 400px;
}

.skills-title {
    font-weight: 800;
    font-size: 30px;
    color: #0D1321;
}

.skill-container {
    display: flex;
    gap: 24px;
    margin: 45px 150px 111px 150px;



}

.image {
    margin-bottom: 24px;
}

.skill-title {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 8px;


}

.skill-description {
    margin-bottom: 24px;

}

.lern {

    font-weight: bold;
    font-size: 15px;
    color: #0D1321;
}

.skill-bg1 {
    background-color: rgba(255, 76, 30, 0.08);
}

.skill-bg2 {
    background-color: rgba(0, 6, 232, 0.04);
}

.skill-bg3 {
    background-color: rgba(255, 223, 0, 0.04);
}

.skill {
    padding: 40px;
    border-radius: 16px;
}

/* support sec-style */
.support {
    padding: 64px 48px;
}

.support-section {

    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-right: 150px;
    margin-left: 150px;


}

.support-title {
    margin-bottom: 16px;
}

.support-description {
    margin-bottom: 24px;
}


.feedback-text{
  padding: 10px 50px 10px 5px;
  border-radius: 8px;
  font-weight: normal;
  font-size: 16px;
}
.submit-btn{
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
}


/* footer-design
 */
 .footer{
    display: flex;
    justify-content: space-between;
   padding: 32px 150px;
   margin-top: 50px;
   background-color:rgba(13, 19, 33, 0.05);
   border-radius: 16px;
    
 }
 .footer-title{
    font-weight: 600;
    font-size: 20px;
 }